src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="process-order-managemt-api-main">
        <http:listener config-ref="process-order-managemt-api-httpListenerConfig" path="${secure::http.path}" doc:name="http Listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="process-order-management-api-config" />
        <error-handler ref="globalError_Handler" />
    </flow>
    <flow name="get:\orders\(orderId):process-order-management-api-config">
        <flow-ref doc:name="get-order-by-uriparam-flow" doc:id="850eb15d-b3c0-417e-9f1c-4c1f43544bc1" name="get-order-by-uriparam-flow" />
        <error-handler ref="globalError_Handler" />
    </flow>
</mule>
